# Fichiers et dossiers générés par Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Fichiers générés par les IDE
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.vscode/

# Fichiers de compilation
*.class

# Fichiers de log
*.log

# Fichiers temporaires
*.tmp
*.bak
*.swp
*~.nib

# Fichiers spécifiques au système d'exploitation
.DS_Store
Thumbs.db